{% extends 'base.html' %}
{% block content %}
<center>
<h1>Not Quite Sure How To Use Activity Finder?</h1>
<h3>Go no further! You came to the right place.</h3>
<br>
<br>
</center>
<h3>Step 1:</h3>
<h6>Click on the "Lets Get Started" button on the home page.</h6>
<h3>Step 2:</h3>
<h6>Enter your location so we can best suite the activities to you!</h6>
<h3>Step 3:</h3>
<h6>Add any filters you want! Just feeling dinner? Wanting to do
     something outside? Heres your chance to customize the activities we show you!</h6>
<h3>Step 4:</h3>
<h6>Click the "Generate Activity" button, and let us do the rest of the work 
    for you! If you arent satisfied with the result then you can click "Generate
     New Activity" to generate a new activity based on the same filters or go back 
     to the home page and start over!</h6>
<br>
<h3>*Remember*</h3>
<h6>You can always click the "Home Page" button or the "How To" button in the top navigation bar to restart or come back to the instructions. Have fun and I hope you find the perfect activity!</h6>

{% endblock %}